body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-body {
    width: fit-content;
    height: fit-content;
}
#display {
    display: block;
    border: solid black thin;
    height: 90px;
}
h1 {
    font-size: 35px;
}
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 100px;
}
.options-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#clear, #backspace {
    width: fit-content;
    height: 75px;
    font-size: 45px;
}
.num-keys {
    display: flex;
    flex-direction: column;
}
#top-row-nums, #middle-row-nums, #bottom-row-nums, #special-chars-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#decimal {
    font-size: xx-large;
}